.container {
	width: 70%;
	margin: auto;
	text-align: center;
}

.dice {
	text-align: center;
	display: inline-block;
}

body {
	background-color: #393e46;
}

h1 {
	margin: 30px;
	font-family: 'lobster', cursive;
	text-shadow: 5px 0 #232931;
	font-size: 8rem;
	color: #4ecca3;
}

p {
	font-size: 2rem;
	color: #4ecca3;
	font-family: 'Indie Flower', cursive;
}

img {
	width: 80%;
}

.btn-container {
	display: flex;
	text-align: center;
	justify-content: center;
}

/* .btn{
	margin-top: 3%;
	font-size: 2rem;
	cursor: pointer;
	font-family: Inter, -apple-system, system-ui, Roboto, 'Helvetica Neue', Arial,sans-serif;
	padding: 0.6rem;
	background-image: linear-gradient(-180deg, #ff7e31, #e62c03);
} */

footer {
	margin-top: 5%;
	color: #eeeeee;
	text-align: center;
	font-family: 'Indie Flower', cursive;
}

.btn {
	background-color: initial;
	background-image: linear-gradient(-180deg, #ff7e31, #e62c03);
	border-radius: 6px;
	box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
	color: #ffffff;
	cursor: pointer;
	display: inline-block;
	font-family: Inter, -apple-system, system-ui, Roboto, 'Helvetica Neue', Arial,
		sans-serif;
	height: 40px;
	line-height: 40px;
	outline: 0;
	overflow: hidden;
	padding: 0 20px;
	pointer-events: auto;
	position: relative;
	text-align: center;
	touch-action: manipulation;
	user-select: none;
	-webkit-user-select: none;
	vertical-align: top;
	white-space: nowrap;
	z-index: 9;
	border: 0;
	transition: box-shadow 0.2s;
	font-size: 2rem;
	margin-top: 3%;
	margin-left: 3%;
}

.btn:hover {
	box-shadow: rgba(253, 76, 0, 0.5) 0 3px 8px;
}
